*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position:center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.navbar h1{
    background-color: white;
    padding: 4px 8px;
    color: gold;
    font-weight: 800;
    letter-spacing: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar h1:hover{
    color: orangered;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
nav ul li::after{
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
.navbar form{
    background: white;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.navbar form input{
    padding: 5px 0;
    border: 0;
    outline: 0;
    font-size: 15px;
}
.btn{
    padding: 8px 6px;
    border: 0;
    outline: 0;
    color: white;
    background-color: gold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: orangered;
    text-shadow: 40px 0 100px orangered, -40px 0 100px orangered;
}
.content{
    margin-top:10% ;
    max-width: 500px;

}
.content h2{
    color: white;
    font-size: 40px;
}
.content span{
    color: gold;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 900;
}
.content span:hover{
    color: orangered;
}
.content p{
    color: white;
    font-size: 15px;
    line-height: 18px;
    margin: 20px 0;
}
.common{
    width: 150px;
    padding: 15px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background-color: gold;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.common:hover{
    background-color: orangered;
    box-shadow: 40px 0 100px orangered, -40px 0 100px orangered ;
}
.login{
    width: 250px;
    height: 350px;
    background-color: gold;
    top: 170px;
    left: 925px;
    position: absolute;
    border-radius: 4px;
    border: 1px solid white;
    transition: 0.5s;
    padding: 30px 30px;
    box-sizing: border-box;
}
.login:hover{
    background-color: orangered;
    box-shadow: 40px 0 100px orangered, -40px 0 100px orangered ;

}
.login h3{
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.login h3:hover{
    color: orangered;
}
.login label{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 10px;
}
.login input[type="text"], input[type="password"]{
    height: 30px;
padding: 0 0 0 5px;
border: 0;
outline: 0;
font-size: 13px;
}
.login input[type="button"]{
    height: 40px;
    border: 0;
    outline: 0;
    color: gold;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.login input[type="button"]:hover{
    background-color: gold;
    color: white;

}
.link{
    text-align: center;
    margin-top: 10px;
}
.link a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 30px;
}
.signup{
    border: 1px solid white;
    padding:8px;
    border-radius: 4px;
    transition: 0.5s;
}
.signup:hover{
    background-color: gold;
    box-shadow: 40px 0 100px gold, -40px 0 100px gold;

}
